* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
}
main {
  background-color: #a0a5b3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3C404B;
  padding: 50px 10px;
}
main h1 {
  font-family: Sans-serif;
  font-weight: 100;
  position: relative;
  top: 165px;
}
@media (max-width: 615px) {
  main h1 {
    top: 90px;
  }
}
@media (max-width: 416px) {
  main h1 {
    top: 70px;
    font-size: 22px;
  }
}
main .buttonWrapper {
  position: relative;
  top: 440px;
}
main .buttonWrapper button {
  padding: 2px 5px;
  margin: 0 3px;
  border: none;
  background: transparent;
  color: #57aaed;
  font-weight: 100;
  font-size: 14px;
  cursor: pointer;
}
main .buttonWrapper button:focus {
  outline: 0;
}
@media (max-width: 615px) {
  main .buttonWrapper button {
    font-size: 12px;
  }
}
@media (max-width: 615px) {
  main .buttonWrapper {
    top: 260px;
  }
}
@media (max-width: 416px) {
  main .buttonWrapper {
    top: 200px;
    font-size: 12px;
  }
}
main .buttonWrapper .activeButton {
  border-bottom: 2px solid green;
}
main #cont {
  width: 600px;
  height: 600px;
  background: #f5f6f7;
  border: 1px solid #3C404B;
  border-radius: 50%;
  position: relative;
}
@media (max-width: 615px) {
  main #cont {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 416px) {
  main #cont {
    width: 300px;
    height: 300px;
  }
}
main #cont #center {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 287px;
  top: 287px;
  background: black;
  border-radius: 50%;
  z-index: 10;
}
@media (max-width: 615px) {
  main #cont #center {
    left: 188px;
    top: 188px;
  }
}
@media (max-width: 416px) {
  main #cont #center {
    left: 138px;
    top: 138px;
  }
}
main #cont #crosshair-x {
  width: 600px;
  height: 1px;
  background: gray;
  position: absolute;
  left: 0;
  top: 300px;
}
@media (max-width: 615px) {
  main #cont #crosshair-x {
    width: 400px;
    top: 200px;
  }
}
@media (max-width: 416px) {
  main #cont #crosshair-x {
    width: 300px;
    top: 150px;
  }
}
main #cont #crosshair-y {
  width: 1px;
  height: 600px;
  background: gray;
  position: absolute;
  left: 300px;
  top: 0;
}
@media (max-width: 615px) {
  main #cont #crosshair-y {
    height: 400px;
    left: 200px;
  }
}
@media (max-width: 416px) {
  main #cont #crosshair-y {
    height: 300px;
    left: 150px;
  }
}
main .timerSection button {
  background: green;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  border: none;
}
.number {
  width: 30px;
  height: 30px;
  position: absolute;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
@media (max-width: 615px) {
  .number {
    font-size: 16px;
  }
}
@media (max-width: 416px) {
  .number {
    font-size: 14px;
  }
}
.smallNumber {
  font-size: 12px;
}
#secondsArrow,
#timerArrow {
  height: 1px;
  background: tomato;
  position: absolute;
  top: 300px;
  left: 300px;
  transform-origin: 0% 50%;
}
@media (max-width: 615px) {
  #secondsArrow,
  #timerArrow {
    top: 200px;
    left: 200px;
  }
}
@media (max-width: 416px) {
  #secondsArrow,
  #timerArrow {
    top: 150px;
    left: 150px;
  }
}
#minutesArrow {
  height: 3px;
  background: black;
  position: absolute;
  top: 300px;
  left: 300px;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  transform-origin: 0% 50%;
}
@media (max-width: 615px) {
  #minutesArrow {
    top: 200px;
    left: 200px;
  }
}
@media (max-width: 416px) {
  #minutesArrow {
    top: 150px;
    left: 150px;
  }
}
#hoursArrow {
  height: 5px;
  background: black;
  position: absolute;
  top: 300px;
  left: 300px;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  transform-origin: 0% 50%;
}
@media (max-width: 615px) {
  #hoursArrow {
    top: 200px;
    left: 200px;
  }
}
@media (max-width: 416px) {
  #hoursArrow {
    top: 150px;
    left: 150px;
  }
}
h2,
h3 {
  font-family: Sans-serif;
  font-weight: 100;
  position: relative;
  top: 365px;
}
@media (max-width: 615px) {
  h2,
  h3 {
    top: 190px;
  }
}
@media (max-width: 416px) {
  h2,
  h3 {
    top: 150px;
    font-size: 12px;
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImluZGV4Lmxlc3MiLCIvVXNlcnMvdm9sb2R5bXlybGlwdW5vdi9EZXNrdG9wL2Nsb2NrL3NyYy9jb21wb25lbnRzL2Nsb2NrL2Nsb2NrLmxlc3MiLCIvVXNlcnMvdm9sb2R5bXlybGlwdW5vdi9EZXNrdG9wL2Nsb2NrL3NyYy9jb21wb25lbnRzL2Nsb2NrU2VjdGlvbi9jbG9ja1NlY3Rpb24ubGVzcyIsIi9Vc2Vycy92b2xvZHlteXJsaXB1bm92L0Rlc2t0b3AvY2xvY2svc3JjL2NvbXBvbmVudHMvYXJyb3cvYXJyb3cubGVzcyIsIi9Vc2Vycy92b2xvZHlteXJsaXB1bm92L0Rlc2t0b3AvY2xvY2svc3JjL2NvbXBvbmVudHMvZGlnaXRhbC9kaWdpdGFsLmxlc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBS0E7RUFDSSxTQUFBO0VBQ0EsVUFBQTtFQUNBLHNCQUFBOztBQUdKO0VBQ0ksa0JBQUE7O0FDWko7RUFDSSx5QkFBQTtFQUNBLGFBQUE7RUFDQSxtQkFBQTtFQUNBLHVCQUFBO0VBQ0EsY0FBQTtFQUNBLGtCQUFBOztBQU5KLElBUUk7RUFDSSx1QkFBQTtFQUNBLGdCQUFBO0VBQ0Esa0JBQUE7RUFDQSxVQUFBOztBQUVBLFFBQXlCO0VBK0hqQyxJQXJJSTtJQU9RLFNBQUE7OztBQUVKLFFBQXlCO0VBNEhqQyxJQXJJSTtJQVVRLFNBQUE7SUFDQSxlQUFBOzs7QUFuQlosSUF1Qkk7RUFDSSxrQkFBQTtFQUNBLFVBQUE7O0FBekJSLElBdUJJLGVBR0k7RUFDSSxnQkFBQTtFQUNBLGFBQUE7RUFDQSxZQUFBO0VBQ0EsdUJBQUE7RUFDQSxjQUFBO0VBQ0EsZ0JBQUE7RUFDQSxlQUFBO0VBQ0EsZUFBQTs7QUFFQSxJQWJSLGVBR0ksT0FVSztFQUFRLFVBQUE7O0FBRVQsUUFBeUI7RUF1R3JDLElBdEhJLGVBR0k7SUFhUSxlQUFBOzs7QUFJUixRQUF5QjtFQWtHakMsSUF0SEk7SUFxQlEsVUFBQTs7O0FBRUosUUFBeUI7RUErRmpDLElBdEhJO0lBd0JRLFVBQUE7SUFDQSxlQUFBOzs7QUFoRFosSUF1QkksZUE0Qkk7RUFDSSw4QkFBQTs7QUFwRFosSUF3REk7RUFDSSxZQUFBO0VBQ0EsYUFBQTtFQUNBLG1CQUFBO0VBQ0EseUJBQUE7RUFDQSxrQkFBQTtFQUNBLGtCQUFBOztBQUVBLFFBQXlCO0VBNkVqQyxJQXJGSTtJQVNRLFlBQUE7SUFDQSxhQUFBOzs7QUFFSixRQUF5QjtFQXlFakMsSUFyRkk7SUFhUSxZQUFBO0lBQ0EsYUFBQTs7O0FBdEVaLElBd0RJLE1BaUJJO0VBQ0ksV0FBQTtFQUNBLFlBQUE7RUFDQSxrQkFBQTtFQUNBLFdBQUE7RUFDQSxVQUFBO0VBQ0EsaUJBQUE7RUFDQSxrQkFBQTtFQUNBLFdBQUE7O0FBRUEsUUFBeUI7RUEwRHJDLElBckZJLE1BaUJJO0lBV1EsV0FBQTtJQUNBLFVBQUE7OztBQUVKLFFBQXlCO0VBc0RyQyxJQXJGSSxNQWlCSTtJQWVRLFdBQUE7SUFDQSxVQUFBOzs7QUF6RmhCLElBd0RJLE1BcUNJO0VBQ0ksWUFBQTtFQUNBLFdBQUE7RUFDQSxnQkFBQTtFQUNBLGtCQUFBO0VBQ0EsT0FBQTtFQUNBLFVBQUE7O0FBRUEsUUFBeUI7RUF3Q3JDLElBckZJLE1BcUNJO0lBU1EsWUFBQTtJQUNBLFVBQUE7OztBQUVKLFFBQXlCO0VBb0NyQyxJQXJGSSxNQXFDSTtJQWFRLFlBQUE7SUFDQSxVQUFBOzs7QUEzR2hCLElBd0RJLE1BdURJO0VBQ0ksVUFBQTtFQUNBLGFBQUE7RUFDQSxnQkFBQTtFQUNBLGtCQUFBO0VBQ0EsV0FBQTtFQUNBLE1BQUE7O0FBRUEsUUFBeUI7RUFzQnJDLElBckZJLE1BdURJO0lBU1EsYUFBQTtJQUNBLFdBQUE7OztBQUVKLFFBQXlCO0VBa0JyQyxJQXJGSSxNQXVESTtJQWFRLGFBQUE7SUFDQSxXQUFBOzs7QUE3SGhCLElBaUlJLGNBQ0k7RUFDSSxpQkFBQTtFQUNBLFlBQUE7RUFDQSxXQUFBO0VBQ0Esa0JBQUE7RUFDQSxZQUFBO0VBQ0EsZUFBQTtFQUNBLFlBQUE7O0FDeklaO0VBQ0ksV0FBQTtFQUNBLFlBQUE7RUFDQSxrQkFBQTtFQUNBLFVBQUE7RUFDQSxTQUFBO0VBQ0EsYUFBQTtFQUNBLHVCQUFBO0VBQ0EsbUJBQUE7RUFDQSxlQUFBOztBQUVBLFFBQXlCO0VBVTVCO0lBVE8sZUFBQTs7O0FBRUosUUFBeUI7RUFPNUI7SUFOTyxlQUFBOzs7QUFJUjtFQUNJLGVBQUE7O0FDcEJKO0FBQWU7RUFDWCxXQUFBO0VBQ0Esa0JBQUE7RUFDQSxrQkFBQTtFQUNBLFVBQUE7RUFDQSxXQUFBO0VBR0Esd0JBQUE7O0FBRUEsUUFBeUI7RUFtRDVCO0VBQUE7SUFsRE8sVUFBQTtJQUNBLFdBQUE7OztBQUVKLFFBQXlCO0VBK0M1QjtFQUFBO0lBOUNPLFVBQUE7SUFDQSxXQUFBOzs7QUFJUjtFQUNJLFdBQUE7RUFDQSxpQkFBQTtFQUNBLGtCQUFBO0VBQ0EsVUFBQTtFQUNBLFdBQUE7RUFDQSwrQkFBQTtFQUNBLDRCQUFBO0VBR0Esd0JBQUE7O0FBRUEsUUFBeUI7RUE2QjVCO0lBNUJPLFVBQUE7SUFDQSxXQUFBOzs7QUFFSixRQUF5QjtFQXlCNUI7SUF4Qk8sVUFBQTtJQUNBLFdBQUE7OztBQUdSO0VBQ0ksV0FBQTtFQUNBLGlCQUFBO0VBQ0Esa0JBQUE7RUFDQSxVQUFBO0VBQ0EsV0FBQTtFQUNBLCtCQUFBO0VBQ0EsNEJBQUE7RUFHQSx3QkFBQTs7QUFFQSxRQUF5QjtFQVE1QjtJQVBPLFVBQUE7SUFDQSxXQUFBOzs7QUFFSixRQUF5QjtFQUk1QjtJQUhPLFVBQUE7SUFDQSxXQUFBOzs7QUMzRFI7QUFBSTtFQUNBLHVCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxrQkFBQTtFQUNBLFVBQUE7O0FBRUEsUUFBeUI7RUFPNUI7RUFBQTtJQU5PLFVBQUE7OztBQUVKLFFBQXlCO0VBSTVCO0VBQUE7SUFITyxVQUFBO0lBQ0EsZUFBQSIsImZpbGUiOiJpbmRleC5jc3MifQ== */